<template>
    <div class="brand">
        <svg width="200" height="200">
            <polygon :points="points"></polygon>
        </svg>
        <p>Israel Contreras</p>
    </div>
</template>

<script>

import gsap from 'gsap'

export default {
    name: 'Brand',
    data() {
        var defaultSides = 400
        var stats = Array.apply(null, { length: defaultSides })
            .map(function () { return 100 })
        return {
            stats: stats,
            points: generatePoints(stats),
            sides: defaultSides,
            minRadius: 20,
            interval: null,
            updateInterval: 750
        }
    },
    watch: {
        sides: function (newSides, oldSides) {
            var sidesDifference = newSides - oldSides
        if (sidesDifference > 0) {
            for (var i = 1; i <= sidesDifference; i++) {
                this.stats.push(this.newRandomValue())
            }
        } else {
            var absoluteSidesDifference = Math.abs(sidesDifference)
            for (var i = 1; i <= absoluteSidesDifference; i++) {
                this.stats.shift()
            }
        }
        },
        stats: function (newStats) {
                gsap.to(
            this.$data, 
            this.updateInterval / 1000, 
            { points: generatePoints(newStats) }
            )
        },
        updateInterval: function () {
            this.resetInterval()
        }
    },
    mounted () {
        this.resetInterval()
    },
    methods: {
        randomizeStats() {
            var vm = this
            this.stats = this.stats.map(function () {
            return vm.newRandomValue()
        })
        },
        newRandomValue() {
            return Math.ceil(this.minRadius + Math.random() * (100 - this.minRadius))
        },
        resetInterval() {
            var vm = this
            clearInterval(this.interval)
            this.randomizeStats()
            this.interval = setInterval(function () { 
               vm.randomizeStats()
            }, this.updateInterval)
        }
    }
}
function valueToPoint (value, index, total) {
  var x     = 0
  var y     = -value * 0.9
  var angle = Math.PI * 2 / total * index
  var cos   = Math.cos(angle)
  var sin   = Math.sin(angle)
  var tx    = x * cos - y * sin + 100
  var ty    = x * sin + y * cos + 100
  return { x: tx, y: ty }
}

function generatePoints (stats) {
	var total = stats.length
	return stats.map(function (stat, index) {
    var point = valueToPoint(stat, index, total)
    return point.x + ',' + point.y
  }).join(' ')
}
</script>

<style lang="scss" scoped>
@import "@/styles/main.scss";

polygon {
    fill: $white;
}
.brand {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

</style>