<template>
  <div class="content">
    <slot class="slot"/>
  </div>
</template>

<script>
export default {
  name: "Content"
}
</script>

<style lang="scss" scoped>
@import '@/styles/main.scss';

.content {
  flex: 1 0;
  padding: 0 3%;
  margin: 0 1%;
  align-self: center;
}
</style>