<template>
  <div id="app">
    <div class="wrapper" v-if="device === 'mobile'">
      <Content>
        <Brand/>
      </Content>
    </div>
    <div class="wrapper" v-else-if="device === 'tablet'">
      <Content>
        <Brand/>
      </Content>
    </div>
    <div class="wrapper" v-else-if="device === 'desktop'">
      <Content >
        <Brand/>
      </Content>
    </div>
  </div>
</template>

<script>
import DeviceDetector from "device-detector-js";
import Content from '@/components/Content'
import SideBar from '@/components/SideBar'
import Brand from '@/components/Brand'

export default {
  name: 'App',
  components: {
    Content,
    SideBar,
    Brand
  },
  data () {
    return {
      device: null
    }
  },
  created () {
    const device = new DeviceDetector().parse(navigator.userAgent)
    this.device = device.device.type
  }
}
</script>

<style lang="scss">
@import '@/styles/main.scss';

body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:$white;
  background: $black;
  width: 100vw;
  height: 100vh;
  padding: 3%;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
</style>
